.board {
  display: grid;
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: repeat(var(--rows), 1fr);
  margin: 10px 0;
  border: 1px solid black;
  width: fit-content;
}

.cell-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: blue;
  padding: 10px;
}

.cell {
  width: 60px;
  height: 60px;
  border-radius: 100px;
}
